.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
  
 
}

.click {
  width: 100px;
  height: 40px;
  background-color: rgb(245, 248, 239);
  font-size: medium;
  margin-bottom: 300px;
  border-radius: 30px;
  outline: 2px solid white;
}